
@media screen and (min-width:800px){
  .calendar{
    transform:
      perspective(750px)
      translate3d(0px, 0px, -250px)
      rotateX(27deg)
      scale(0.9, 0.9);
      margin:2vw;
      padding:1rem;
      min-height: '50vh';
      border-radius: 20px;
      border: 5px solid #e6e6e6;
      box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(10px);
      transition: 0.4s ease-in-out transform;
      display: grid;
      gap: 0.5rem;
      grid-auto-rows: 8rem;
      grid-template-columns: repeat(auto-fill, minmax(6rem, 2fr));
  }
}

@media screen and (max-width:800px){
  .calendar{
    margin:2vw;
    padding:1rem;
    min-height: '50vh';
    border-radius: 20px;
    border: 5px solid #e6e6e6;
    box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    transition: 0.4s ease-in-out transform;
    display: grid;
    gap: 0.5rem;
    grid-auto-rows: 8rem;
    grid-template-columns: repeat(auto-fill, minmax(6rem, 2fr));
  }
}


.calendar:hover {
  transform: translate3d(0px, 0px, -250px);
}



.day {
  border: 2px solid ;
  color: white;
  margin: 2px;
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: rgba(27, 25, 25, 0.25) 0px 25px 50px -12px;
  background: rgb(77,77,77);
  background: linear-gradient(0deg, rgba(77,77,77,1) 0%, rgba(0,0,0,1) 100%, rgba(0,212,255,1) 100%);
  transition: 0.4s ease-in-out transform;
}

@media screen and (min-width:800px){
  .day:hover {
    transform: scale(1.5);
    cursor: pointer;
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -800px 0
  }
  100% {
    background-position: 800px 0
  }
}

.loadingImg{
  border: 2px solid ;
  color: white;
  margin: 2px;
  border-radius: 20px;
  animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background-color: #bcbfc2;
  background: linear-gradient(to right, rgba(77,77,77,1) 0%, rgba(0,0,0,1) 100%, rgba(0,212,255,1) 100%);
    background-size: 800px 104px;
    position: relative;
}